.app-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  .logo {
    padding: 5px 20px;
    font-size: 30px;
  }
  .menus {
    display: flex;
    justify-content: flex-end;
    .menu-item {
      text-decoration: none;
      padding: 15px 20px;
      color: var(--black-color);
      &:hover {
        background-color: var(--lightGray-color);
      }
    }
  }
}
