<div class="contact">
    <h2 class="head-text">Reach Out to me!</h2>
    <div class="contact-form">
        <div class="row1 row-ele">
            <input type="text" name="name" id="row1-name" placeholder="Name" class="input-ele" />
            <input type="email" name="email" id="row1-email" placeholder="Email" class="input-ele"/>
        </div>
        <div class="row2 row-ele">
            <input type="text" name="subject" id="row2-subject" placeholder="Subject" class="input-ele">
        </div>
        <div class="row3 row-ele">
            <textarea name="message" id="row3-message" placeholder="Message" class="input-ele"></textarea>
        </div>
        <div class="row4 row-ele">
            <button class="btn primar-button">Send Message</button>
        </div>
    </div>
</div>